<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./vendor/http-interop/http-factory-tests/test</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="REQUEST_FACTORY" value="Selline\Http\Factory"/>
        <const name="RESPONSE_FACTORY" value="Selline\Http\Factory"/>
        <const name="SERVER_REQUEST_FACTORY" value="Selline\Http\Factory"/>
        <const name="UPLOADED_FILE_FACTORY" value="Selline\Http\Factory"/>
        <const name="URI_FACTORY" value="Selline\Http\Factory"/>
        <const name="STREAM_FACTORY" value="Selline\Http\Factory"/>
    </php>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
</phpunit>